@{
    ViewBag.Title = "User Page";
}

@model List<FutuExpress.Models.User>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div class="portlet-body">
        <div class="table-scrollable">
            <table class="table table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <th>
                            Name
                        </th>
                        <th>
                            UserType
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr class="odd gradeX">
                            <td>
                                @item.UserName
                            </td>
                            <td>
                                @item.UserType
                            </td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>
</body>
</html>
